.loader {
    width: 30px;
    height: 30px;
    border: 30px solid #f3f3f3;
    margin: 5% auto;
    border-left: 30px solid #FF5D00;
    border-right: 30px solid #FF5D00;
    border-radius: 50%;
    animation: spinIT 0.8s linear infinite;
    filter: drop-shadow(0px 0px 8px gray)
}

@keyframes spinIT {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}